<!DOCTYPE html>
<html>
	<body>
		<form method="post" action="/new">
			<p>What is your Puppy's name?: <input type="text" name="name"></p>
			<p>What is the breed?: <input type="text" name="breed"></p>
			<p>How old is your puppy?: <input type="text" name="age"></p>
			<input type="submit" value="submit">
		</form>
	</body>
</html>
