<h2>Create a Puppy:</h2>
<form action="/new" method="POST">
  <label>name</label><input type="text" name="name"><br>
  <label>breed</label><input type="text" name="breed"><br>
  <label>age</label><input type="text" name="age"><br>
  <input id="submit" type="submit">
</form>
