<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form for Puppies</title>
  </head>

  <body>

    <h1>New Puppy</h1>
    <form class="" action="/new" method="post">
      <p>
        Puppy Name: <input type="text" name="name">
      </p>
      <p>
        Puppy Breed: <input type="text" name="breed">
      </p>
      <p>
        Puppy Age: <input type="text" name="age">
      </p>
      <input type="submit" name="submit" value="" id="submit">
    </form>

  </body>
</html>
